<div class = "col-md-6">
    <div class = "panel panel-default">
	<h4 class = "text-center">Notifications</h4>
	<div class = "panel-body">
	    <% if @safety_queries.blank? %>
		<h4 class = "text-center">You have no pending notifications</h4>
	    <% else %>
		<%= render partial: "notifications/display", 
		    locals: { safety_queries: @safety_queries } %>
	    <% end %>
	</div>
    </div>
</div>

<div class = "col-md-6">
    <div class = "panel panel-default">
	<h4 class = "text-center">Responses</h4>
	<div class = "panel-body">
	    <% if @user_results.blank? %>
		<h4 class = "text-center">No responses yet</h4>
	    <% else %>
		<ul class = "list-group">
		<% @user_results.each do |result| %>
			<li class = "list-group-item"><%= link_to result.receiver.first_name, user_path(id: result.receiver.id) %> responded with <%= result.res %></li>
		<% end %>
		</ul>
	    <% end %>
	</div>
    </div>
</div>
