<div class = "container" style = "padding-top:60px">

    <div class = "panel panel-default">
	<div class = "panel-body">
	    <% if @user_queries.blank? and @group_queries.blank? %>
		<h4 class = "text-center"><i>No notifications</i></h4>
	    <% else %>
		<ul>
		<% @user_queries.each do |query| %>
		    <%# if !query.first_name.nil?%>
			<%# query.name %> 
		    <%#else %>
		    <li>
			<%= link_to  query.first_name, @query %> 		    
		    <%#end %>
			wants to know if you're safe 
			<%= link_to "I'm safe", safety_check_path(id: current_user.id, res: "safe"), method: :put %>
			<%= link_to "I need help", safety_check_path(id: current_user.id, res: "danger"), method: :put%>
		    </li>
		<% end %>
		<% @group_queries.each do |query| %>
		    <li> The group <%= query.name %> wants to know if you're safe</li>
		<% end %>
		</ul>
	    <% end %>
	</div>
    </div>
</div>
