<div class = "panel panel-default" id="panel-border-bottom">
    <div class = "panel-body">
	<h2 class= "text-center"> Groups </h2>
	<p class = "text-center"><%= link_to "Create a group", new_group_path %></p>
    </div>
</div>

<div class= "panel panel-default">
    <div class = "panel-body">
	<% if @groups.blank? %>
	    <h4 class = "text-center"><i>You're currently not part of any groups</i></h4>
	<% else %>
		<% @groups.each do |group| %>  
		    <h4><%= link_to group.name, group %> </h4>
		    <hr>
		<% end %>
	<% end %>
    </div>
</div>
