<div class = "panel panel-default" id="panel-border-bottom">
    <div class = "panel-body">
	<h2 class= "text-center"> Groups </h2>
	<p class = "text-center"><%= link_to "Create a group", new_group_path %></p>
    </div>
</div>

<div class= "panel panel-default">
    <% if @groups.blank? %>
	<div class = "panel-body">
	    <h4 class = "text-center">You're currently not part of any groups</h4>
	</div>
    <% else %>
	<div class = "list-group">
	    <%= react_component "GroupsContainer",
		groupsPath: user_groups_path(current_user) %>
	</div>
    <% end %>
</div>
