<div class = "panel panel-default" id = "panel-default-border">
    <h2 class = "text-center"> Create a group </h2>
    <div class = "panel-body">
	<%= render 'form', group: @group %>
    </div>
</div>
