<%= stylesheet_link_tag 'splash' %>

<header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
			    <h1>Sayfe is your go-to disaster app</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>
<div class = "yellow-bg">
    <div class= "container" >
	<div class = "h2-content">
	    <h2 class = "text-center">When you're in trouble, Sayfe is on the double</h2>
	</div>
    </div>
</div>
