<div class = "panel panel-default">
    <div class = "panel-body">
	<h3 class = "text-center">
	    <%= @user.first_name %>'s groups 
	</h3>
    </div>
</div>

<div class = "panel panel-default">
    <% if @groups.blank? %>
	<div class = "panel-body">
	    <h4 class = "text-center">Not part of any groups yet</h4>
	</div>
    <% else %>
	<div class = "list-group">
	    <%= react_component "GroupsContainer",
		groupsPath: user_groups_path(@user) %>
	</div>
    <% end %>
</div>
