<div class = "panel panel-default">
    <div class = "nav nav-tabs">
	<li class = "nav-item">
	    <a class = "nav-link" href= "results">Users</a>
	</li>
	<li class = "nav-item">
	    <a class = "nav-link" href= "groups">Groups</a>
	</li>
    </div>
    <div class = "panel-body">
	<%= render "layouts/search" %>
    </div>
</div>
