<div class = "panel panel-default">
    <div class = "nav nav-tabs">
	<li class = "nav-item">
	    <a class = "nav-link" href= "results/users">Users</a>
	</li>
	<li class = "nav-item">
	    <a class = "nav-link" href= "groups">Groups</a>
	</li>
    </div>
    <div class = "panel-body">
	<% if @results.blank? %>
	    <h4 class = "text-center"><i>No results found</i></h4>
	<% else %>
	    <% @results.each do |result| %>
		<h4><%= link_to  result.email, account_path(id: result) %> <h4>
			<%= link_to "Add", friendships_path(friend_id: result), method: :post%>
			<%= link_to "Check safety", safety_checks_path(receiver_id: result), method: :post %>
		<hr>
	    <% end %>
	<% end %>
    </div>
</div>
