@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "bootstrap/variables";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";



//Navbar border
#myToolbar
{
  border-bottom-color: $color-blue-main;
  border-width:1px;
  font-family: "Droid Sans", sans-serif;
}

//Panels
#panel-border-top
{
  border-top-color:$color-blue-main;
  border-width:1px;
}
#panel-border-bottom
{
  border-bottom-color:$color-blue-main;
  border-width:1px;
}

#panel-default-border
{
  border-bottom-color:$color-blue-main;
  border-top-color:$color-blue-main;
  border-width:1px;
}
#panel-heading
{ 
  background-color:#FFFFFF;  
  border-bottom-color:$color-blue-main;
  color:$color-blue-main;
}

#panel-solid-blue
{
    background-color: $color-blue-main;
    color: #FFFFFF;
}

#darken li > a
{
    color: $color-blue-main;
}
