<div class = "panel panel-default">
    <h3 class = 'text-center'>Announcements</h3>
    <div class = "panel-body">
	<p><%= link_to "Back to "+  @group.name, group_path(@group)%></p>
	<%= react_component "AnnouncementContainer",
	    announcementsPath: group_announcements_path(@group) %>
	<h5 class = "text-center"><%= paginate @announcements %></h5>
    </div>
</div>
