<div class = "panel panel-default">
    <div class = "panel-body">
	<p><%= link_to "Back to " + @announcement.group.name, group_path(@announcement.group.id) %>
	<%= react_component "Announcement",
	    announcement:  @announcement_json %>
    </div>
</div>
