<div class = "panel default-panel">
    <div class = "panel-heading" id ="panel-heading">
	<h4 class = "text-center">Friend requests</h4>
    </div>
    <% if @friend_reqs.blank? %>
	<div class = "panel-body">
	    <h4 class = "text-center">You have no pending friend requests</h4>
	</div>
    <% else %>
	<ul class = "list-group">
	    <%= react_component "FriendRequestsContainer",
		requestsPath: friend_requests_path() %>
	</ul>
    <% end %>
</div>
