<div class = "panel default-panel">
    <div class = "panel-body">
	<ul>
	    <% if @friend_reqs.blank? %>
		<h4>No friend requests</h4>
	    <% else %>
		<% @friend_reqs.each do |request| %>
		<li> 
		    <%= request.first_name %>
		    <%= link_to "Accept", friendship_path(id: request.id), method: :put %>
		    <%= link_to "Delete friend request", friendship_path(id: request.id), method: :delete %>
		</li>
		<% end %>
	    <% end %>
	</ul>
    </div>
</div>
