<div class = "panel panel-default" id= "panel-border-bottom">
    <div class = "panel-body">
	<h2 class = "text-center">Friends</h2>
    </div>
</div>

<div class = "panel panel-default">
    <div class = "panel-body">
	<% if @friends.blank? %>
	    <h4 class = "text-center">You don't seem to have any friends</h4>
	<% else %>
	    <% @friends.each do |friend| %>
		<div class = "col-md-6">
		    <div class = "panel panel-default">
			<div class = "panel-body">
			    <h4><%= link_to friend.first_name + " " + friend.last_name, user_path(friend.id) %></h4>
			</div>
		    </div>
		</div>
	    <% end %>
	<% end %>
    </div>
</div>
