<div class = "panel panel-default" id= "panel-border-bottom">
    <div class = "panel-body">
	<h2 class = "text-center">Friends</h2>
    </div>
</div>

<div class = "panel panel-default">
    <% if @friends.blank? %>
	<div class = "panel-body">
	    <h4 class = "text-center">You don't seem to have any friends</h4>
	</div>
    <% else %>
	<div class = "list-group">
	    <%= react_component "UsersContainer",
	    usersUrl: friendship_path(current_user) %>
	</div>
    <% end %>
</div>
