<div class = "panel panel-default">
    <div class = "panel-body">
	<h3 class = "text-center"><%= @user.first_name%>'s friends</h3>
    </div>
</div>

<div class = "panel panel-default">
    <% if @friends.blank? %>
	<div class = "panel-body">
	    <h4 class = "text-center">No friends yet</h4>>
	</div>
    <% else %>
	<%= react_component "UsersContainer",
	    usersUrl: friendship_path(@user) %>
    <% end %>
</div>
