<%= search_form_for @q  do |f| %>
    <div class = "col-md-12">
	<div class = "col-md-6">
	    <div class = "form-group">
		<%= f.search_field "first_name_or_last_name_cont", class: "form-control", placeholder: "Search for users" %>
	    </div>
	</div>
	<div class = "col-md-2">
	    <div class = "form-group">
		<%= f.submit class: "btn btn-info"%>
	    </div>
	</div>
    </div>
<% end %>
