<div class = "panel panel-default">
    <div class = "panel-body">
	<h3 class = "text-center">Members of <%= @group.name %></h3>
    </div>
</div>

<div class = "panel panel-default">

    <div class = "list-group">
	<%= react_component "UsersContainer",
	    usersPath: group_members_path(@group) %>
    </div>
</div>
